<h1>Tags</h1>

<p><a href="/tags/new">New Tag</a></p>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <tr>
    <% @tags.first %>
    <td><%= @tags.first.name.capitalize%></td>
    <td><form action="/tags/<%=@tags.first.id %>/edit" method="get">
      <input type="submit" name="Edit" value="Edit">
    </form></td>
  </tr>
  <% for tag in @tags[1..@tags.length] %>
    <tr>
      <td><%= tag.name.capitalize %></td>
      <td>
        <form action="/tags/<%= tag.id %>/edit" method="get">
        <input type="submit" name="Edit" value="Edit">
        </form>
        <form action="/tags/<%=tag.id %>/delete" method="post">
        <input type="submit" name="Delete" value="Delete">
        </form>
    </td>
    </tr>
  <% end %>
</table>
