<h1>Transactions</h2>


<% @totalspend = 0 %>
<% for transaction in @transactions %>
  <% @totalspend += transaction.spend %>
<% end %>

<p>Your total spend so far is: £<%= '%.2f' % @totalspend %></p>

<% if @totalspend <= @budgets.first.value.to_f*0.8 %>
  <h2>You have <font color = "green">£<%= '%.2f' % (@budgets.first.value.to_f - @totalspend) %></font> remaining of your £<%= @budgets.first.value %> budget</h1>
<% else %>
  <h1>You have <font color = "red">£<%= '%.2f' % (@budgets.first.value.to_f - @totalspend) %></font> remaining of your £<%= @budgets.first.value %> budget</h1>
<% end %>

<p><a href="/transactions/new">New Transaction</a></p>

  <% for transaction in @transactions %>
  <table align="center">
      <tr>
        <td>Merchant: <%= transaction.merchant.name %></td>
        <td>Tag: <%= transaction.tag.name.capitalize %></td>
        <td>Spend: £<%= '%.2f' % transaction.spend %></td>
      <tr>
        <td>Percentage: <%= '%.1f' % ((transaction.spend / @totalspend)*100) %>%</td>
        <td>Date: <%= transaction.transaction_time[0..9] %></td>
        <td>Time: <%= transaction.transaction_time[10..15] %></td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="first_half">
            <form action="/transactions/<%= transaction.id %>/edit" method="get">
            <input type="image" src="/icons/edit-30.svg" name="Edit" value="Edit">
            </form>
          </div>
          <div class="second_half">
            <form action="/transactions/<%=transaction.id %>/delete" method="post">
            <input type="image" src="/icons/trash-can.svg" name="Delete" value="Delete">
            </form>
          </div>
        </td>
      </tr>
    </table>
  <% end %>
