<h1>Merchants</h1>

<p><a href="/merchants/new">New Merchant</a></p>

<table align = "center">
  <tr>
    <td>
      <%= @merchants.first.name %>
    </td>
  <tr>
    <td>
      <form action="/merchants/<%= @merchants.first.id %>/edit" method="get">
      <input type="image" src="/icons/edit-30.svg" value="Edit">
      </form>
    </td>
  </tr>
</table>

<% for merchant in @merchants[1..@merchants.length] %>
  <table align = "center">
    <tr>
      <td>
        <%= merchant.name %>
      </td>
    </tr>
    <tr>
      <td>
        <div class="first_half">
          <form action="/merchants/<%= merchant.id %>/edit" method= "get">
          <input type="image" src="/icons/edit-30.svg" value="Edit">
          </form>
        </div>
        <div class="second_half">
          <form action="/merchants/<%= merchant.id %>/delete" method="POST">
          <input type="image" src="/icons/trash-can.svg" value="Delete">
          </form>
        </div>

    </tr>
  </table>
<% end %>
