<h1>Merchants</h1>

<p><a href="/merchants/new">New Merchant</a></p>

<table align = "center">
  <tr>
    <th>Name</th>
  </tr>
    <tr>
      <td><%= @merchants.first.name %></td>
      <td>
        <form action="/merchants/<%= @merchants.first.id %>/edit" method="get">
          <input type="submit" value="Edit">
      </form></td>
    </tr>
  <% for merchant in @merchants[1..@merchants.length] %>
    <tr>
      <td><%= merchant.name %></td>
      <td>
        <form action="/merchants/<%= merchant.id %>/edit" method= "get">
        <input type="submit" value="Edit">
        </form>
        <form action="/merchants/<%= merchant.id %>/delete" method="POST">
        <input type="submit" value="Delete">
        </form>
    </tr>
  <% end %>
</table>
